.detail-card {
    position: fixed;
    width: 15%;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    border: 2px solid #ababab;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    .img-container {
        width: 80%;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .detail-name {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: calc(100% - 20px);
        margin: 10px;
        text-align: center;
        text-transform: capitalize;
        .first-row {
            font-weight: 600;
        }
        tr {
            td {
                padding: 5px 0;
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .detail-card {
        width: 20%;
    }
}

@media only screen and (max-width: 1024px) {
    .detail-card {
        width: 30%;
        right: 0;
    }
}

@media only screen and (max-width: 768px) {

}